<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="abc.xml">
    <classes>
      <class name="Testng.Test.NewTest"/>
    </classes>
  </test> <!-- abc.xml -->
  <test name="abcd.xml">
    <classes>
      <class name="Testng.Test.NewTest2"/>
    </classes>
  </test> <!-- abc.xml -->
</suite> <!-- Suite -->
 